{{ 'splide.css' | asset_url | stylesheet_tag }}
{{ 'slider.css' | asset_url | stylesheet_tag }}

<script src="{{ 'splide.js' | asset_url }}" defer="defer"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var splide = new Splide('#banners', {
      arrowPath: 'M8 0v40l28-20z"',
      classes: {
        arrows: 'splide__arrows custom-arrows__container',
        arrow: 'splide__arrow custom-arrows',
        page: 'splide__pagination__page custom-page',
        pagination: 'splide__pagination custom-pagination',
      },
    });
    splide.mount();
  });
</script>

<div class="splide__container">
  <section class="splide" id="banners" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">
        {% for banner in banners %}
          <li class="splide__slide slide-item">
            {% if banner.settings.image != blank %}
              <img
                src="{{ banner.settings.image | image_url }}"
                alt=""
                width="100%"
                height="468px"
                class="image-banner"
              >
            {% else %}
              <img
                src="{{ 'ball.png' | asset_url }}"
                alt=""
                width="100%"
                height="468px"
                class="image-banner"
              >
            {% endif %}
            <div class="slide-item__title">{{ banner.settings.title }}</div>
            <p class="slide-item__text">{{ banner.settings.text }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>
