{{ 'splide.css' | asset_url | stylesheet_tag }}
<script src="{{ 'splide.js' | asset_url }}" defer="defer"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var splide = new Splide('.splide');
    splide.mount();
  });
</script>

<div>
  <section class="splide" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">
        {% for banner in banners %}
          <li class="splide__slide">
            <img
              src="{{ banner.image | image_url }}"
              alt="{{ banner.image.alt }}"
              width="100%"
              height="100%"
            >
            <p>{{ banner.title }}</p>
            <p>{{ banner.text }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>
