{{ 'banner.css' | asset_url | stylesheet_tag }}

<div
  class="image-banner-wrapper"
  style="height: {{ section.settings.max_height }}px; background-image: url({% if section.settings.image != blank %}{{ section.settings.image | image_url }}{% else %}{{ 'head-banner.png' | asset_url }}{% endif %}); background-position: {{ section.settings.image_position }};"
>
  {% if section.settings.show_decoration == 'true' %}
    <span class="banner__line"></span>
  {% endif %}
  {% if section.blocks[0] != blank %}
    <div class="banner__content">
      <h1 class="banner__heading">
        {{ section.blocks[0].settings.heading }}
      </h1>
      {% render 'button-link',
        label: section.blocks[0].settings.button_label,
        url: section.blocks[0].settings.button_link
      %}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Image banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "t:sections.image-banner.settings.image.label",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Centro"
        },
        {
          "value": "left",
          "label": "Izquierda"
        },
        {
          "value": "right",
          "label": "Derecha"
        }
      ]
    },
    {
      "type": "number",
      "id": "max_height",
      "label": "t:sections.image-banner.settings.image.label",
      "default": 785
    },
    {
      "type": "select",
      "id": "show_decoration",
      "label": "t:sections.image-banner.settings.image.label",
      "default": "true",
      "options": [
        {
          "value": "true",
          "label": "Mostrar decoración"
        },
        {
          "value": "false",
          "label": "Ocultar decoración"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Las mejores raquetas para jugar Tennis",
          "label": "Las mejores raquetas para jugar Tennis"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "ACERCA DE NOSOTROS",
          "label": "Banner CTA"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link CTA"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        }
      ]
    }
  ]
}
{% endschema %}
