{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<div class="footer">
  <div class="footer-navigation">
    <nav class="main-navigation__nav footer__nav">
      <ul class="footer__nav__list footer__nav__list--main">
        {% for link in linklists['main-menu'].links -%}
          <li class="footer-nav__item {%if link.active %} active-footer {% endif %}">
            {{ link.title | link_to: link.url }}
          </li>
        {%- endfor %}
      </ul>
    </nav>
    <nav class="main-navigation__nav footer__nav">
      <ul class="footer__nav__list ">
        <li class="footer-nav__item">
          <a href="https://www.linkedin.com/in/eduardogutierrezfl/">
            <image src="{{ 'group-23.svg' |  asset_url }}" alt="logo" class="social" />
          </a>
          <a href="https://www.linkedin.com/in/eduardogutierrezfl/">
            <image src="{{ 'group-24.svg' |  asset_url }}" alt="logo" class="social" />
          </a>
          <a href="https://www.linkedin.com/in/eduardogutierrezfl/">
            <image src="{{ 'group-25.svg' |  asset_url }}" alt="logo" class="social" />
          </a>
          <a href="https://www.linkedin.com/in/eduardogutierrezfl/">
            <image src="{{ 'group-22.svg' |  asset_url }}" alt="logo" class="social" />
          </a>
          <a href="https://www.linkedin.com/in/eduardogutierrezfl/">
            <image src="{{ 'group-26.svg' |  asset_url }}" alt="logo" class="social" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <image src="{{ 'tennis-logo.svg' |  asset_url }}" alt="logo" class="logo-footer" />
</div>
