{{ 'rich-text.css' | asset_url | stylesheet_tag }}

{% liquid
  assign decoration = section.blocks[2].settings
  assign main_text = section.blocks[0].settings
%}
<div class="text-banner__container">
  <p class="text-banner__decoration" style="color: {{decoration.color}}">{{ decoration.decoration }}</p>
  <div class="text-banner__content">
    <h2>{{ main_text.title }}</h2>
    <p>{{ main_text.subtitle }}</p>
  </div>
  <div class="text-banner__cta">
    {% render 'button-link',
      label: section.blocks[1].settings.button_label,
      url: section.blocks[1].settings.button_link,
      black: true
    %}
  </div>
</div>

{% schema %}
{
  "name": "Rich text",
  "tag": "section",
  "class": "section",
  "settings": [],
  "blocks": [
    {
      "type": "richtext",
      "name": "Text banner",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "inline_richtext",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Subtitle"
        }
      ]
    },
    {
      "type": "cta-link",
      "name": "CTA link",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    },
    {
      "type": "decoration",
      "name": "Decoration",
      "settings": [
        {
          "type": "text",
          "id": "decoration",
          "label": "Decoration",
          "default": "Tennis"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Decoration color",
          "default": "#CBE346"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich text",
      "blocks": [
        {
          "type": "richtext"
        },
        {
          "type": "cta-link"
        },
        {
          "type": "decoration"
        }
      ]
    }
  ]
}
{% endschema %}
